html{
	min-width: 460px;
}

body{
	height: 100vh;
  width: 100%;
	background-color: black;
	position: relative;	
	z-index: 1;

}

img{
	max-width: 100%;
}

header, footer{
	margin: 0;
	max-width: 60%;
	height: 60px;
	display: flex;
	align-items: center;
	align-content: center;
	margin: 0 auto;	
}


hr{
	border: 1px solid #272727;
	margin: 0;
	background-color:#272727;
}

header .menu_top{
	list-style-type: none;
	padding-left: 3%;
	width: 100%;
}

header .menu_top li{
	display: inline-block;
	margin-right: 5%;
}

header .menu_top li a, .static, .btns, .simple{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 13px;
	line-height: 16px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	flex-grow: 1;
}

header .menu_top li a:hover,
.btns .simple:hover{
	color: dimgray;
}

header .menu_top li a:hover{
	text-decoration: line-through;
}

header .menu_top li .simple{
	font-weight: 700;
}

h1{
	color: white;
	width: auto;
	padding-top: 100px;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 30px;
	position: relative;
}

.static{
	padding-right: 7%;
}

.simple{
	font-weight: 700;
}

.logo{
	font-family: 'Caveat', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	color: #1ACD4C;
	text-decoration: none;
}

.line{
		border-right: 1px solid #272727;
		padding: 1em;
}

.container_pict{
	max-width: 100%;
	height: auto;	
	background: url('/images/wall.png') no-repeat;
	background-position: center;
}

.container{
	max-width: 60%;
	height: 100%;
	margin: 0 auto;	
}

.title1{
	position: relative;	
}

table tr{
  border: 1px solid #272727;
}

table{
	color: white;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th{
	width: auto;
	text-transform: uppercase;
	text-align: left;
	color: #808080;
	font-size: 13px;
	font-weight: 900;
	padding-left: 1%;

}

footer{
	margin-top: 20px;
	position: relative;
	padding: 0;
}

td{
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.arrows{
	width: 10px;
	height: 10px;
	border-top: 3px solid white;
	border-right: 3px solid white;
}

.arrow_left {
	transform: rotate(-135deg);
}

.arrow_right {
	transform: rotate(45deg);
}

.block_bottom{
	list-style-type: none;
	width: 100%;
	text-align: center;
	padding: 0, 10px;
}

.block_bottom li{
  display: inline-block;
  list-style: none;

}

li .bott{
	color: white;
	text-decoration: none;

}

.new{
	padding: 0;
	justify-content: space-around;
}