@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	width: 1920px;
	background-color: #201636;
	margin: 0 auto;
	color: white;
}

.start{
	margin-top: 50px;
	margin-left: 61px;
	position: relative;
}

.pic{
	display: inline-block;
	vertical-align: bottom;
	height: auto;
}

.first_text{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 630px;
	width: 35%;
}

.align_text{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10%;
}

.font_family{
	font-family: 'Montserrat', sans-serif;
}

.title_text{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
}

.descript{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	width: 682px;
}

.goals{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #211637;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	padding: 0.5vh 3vh;
}

.buttons{
	display: flex;
	align-items: center;
	text-align: left;
	margin: 0 -5px;
}

.buttons *{
	flex: 1 1 auto;
  margin: 0 5px;
}

.frame{
	margin: 0 0 0 5px;
	background-color: #F09F0C;
	color: #1F1F1F;
	box-shadow: 0px 4px 20px #7D5103;
	padding: 16px 19px;
	font-size: 16px;
	text-decoration: none;
}

.second_screen{
	background-image: url(./img/Фон.png);
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.block_icons_flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 75%;
	margin: 20px auto;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}

.block_icons_flex span{
	margin: 0 30px;
}

.container_table{
	height: 853px;
}

.container{
	margin-top: 5vh;
	margin-bottom: 10vh;
}

.title_block{
	text-align: center;
}

.title_block span{
	font-weight: 900;
	font-size: 36px;
	line-height: 44px;
	color: #F09F0C;
}

.title_block span > p{
	color: white;
}

.title_2 p{
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	margin-top: 1.5vh;
}

.main_cont{
	display: flex;
	width: 1567px;
	margin-left: 61px;
}

.flex_cont{
	width: 50%;
	position: relative;
}

.flex_cont img{
	position: absolute;
	top: -6vh;
}

.man{
	height: 548px;
}

.man img{
	left: 27vh;
	width: 58%;
	margin-top: 6vh;
}

.shadow{
	background: linear-gradient(180deg, #211637 29.83%, rgba(34, 24, 57, 0) 100%);
	transform: matrix(1, 0, 0, -1, 0, 0);
	top: 38vh;
	right: -24vh;
	width: 64%;
	height: 50%;
	position: relative;
}

.light{
	width: 70vh;
  left: 11vh;
}

.list{
	width: 50%;
}

ul{
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
	list-style-image: url(./img/Arrow.svg);
	width: 100%;
	padding: 5vh 0 0 6vh;
	height: 100%;
}

li{
	width: 60%;
	padding-bottom: 2%;
}
